@use "../global" as *;

.footer {
  padding: 8rem 0;
  border-top: 1px solid $light-white;

  @media screen and (min-width: 1280px) {
    padding: 16rem 0;
  }

  &__inner {
    @include contents-width;
    position: relative;
  }

  &__logo-link {
    position: absolute;
    top: 0;
    right: 2.5rem;
    display: block;
    width: 10rem;
    height: 12.5rem;
    transition: 0.4s ease-out;

    &:hover {
      opacity: 0.7;
    }

    @media screen and (min-width: 1280px) {
      right: 16rem;
      width: 15rem;
      height: 25rem;
    }
  }

  &__logo-img {
    @include img-base;
    height: 100%;
    object-fit: contain;
  }

  &__box-top {
    max-width: 400px;
    padding-top: 11.4rem;
    margin-bottom: 6.4rem;

    @media screen and (min-width: 1280px) {
      padding-top: 0;
      margin-bottom: 10rem;
    }
  }

  &__name {
    margin-bottom: 2rem;
    font-size: clamp(18px, 1.8rem, 24px);
    font-weight: 500;

    @media screen and (min-width: 1280px) {
      margin-bottom: 3rem;
      font-size: clamp(24px, 2.8rem, 28px);
    }
  }

  &__address {
    margin-bottom: 0.8rem;
    font-size: clamp(14px, 1.4rem, 20px);

    @media screen and (min-width: 1280px) {
      margin-bottom: 1.6rem;
      font-size: clamp(20px, 2.2rem, 22px);
    }
  }

  &__tel {
    font-family: $roc;
    font-size: clamp(26px, 2.6rem, 30px);
    letter-spacing: 0.05em;

    @media screen and (min-width: 1280px) {
      margin-bottom: 1.6rem;
      font-size: clamp(30px, 3.2rem, 32px);
    }

    span {
      font-size: clamp(18px, 1.8rem, 20px);

      @media screen and (min-width: 1280px) {
        font-size: clamp(20px, 2.2rem, 22px);
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;

    p {
      font-size: clamp(12px, 1.2rem, 14px);
      line-height: 2;

      @media screen and (min-width: 1280px) {
        font-size: clamp(14px, 1.6rem, 16px);
      }
    }

    p:nth-of-type(1) {
      width: 20%;
      position: relative;

      &::before {
        content: "：";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    p:nth-of-type(2) {
      width: 30%;
    }

    p:nth-of-type(3) {
      width: 50%;
    }
  }

  &__txt {
    font-size: clamp(12px, 1.2rem, 14px);
    line-height: 2;

    &.yellow {
      display: inline-block;
      color: $yellow;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        border-bottom: 1px dotted $yellow;
      }
    }

    @media screen and (min-width: 1280px) {
      font-size: clamp(14px, 1.6rem, 16px);
    }
  }

  &__box-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sns-wrap {
    display: flex;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: 1280px) {
      gap: 48px;
    }
  }

  &__sns-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $white;
    transition: 0.4s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &__sns-img {
    @include img-base;
    object-fit: contain;
    width: 20px;
    height: 20px;

    @media screen and (min-width: 1280px) {
      width: 24px;
      height: 24px;
    }
  }

  &__sns-name {
    display: none;

    @media screen and (min-width: 1280px) {
      display: block;
      font-family: $roc;
      font-size: clamp(12px, 1.4rem, 14px);
    }
  }

  &__copyright {
    display: block;
    font-family: $roc;
    font-size: clamp(10px, 1rem, 12px);
    letter-spacing: 0.05em;

    @media screen and (min-width: 1280px) {
      font-size: clamp(10px, 1.2rem, 12px);
    }
  }
}
