@use "../global" as *;

.hamburger-menu {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 100;
  $parent: &;
  transition: 0.4s ease-out;

  &:hover {
    opacity: 0.7;
  }

  &.opened {
    #{$parent}__top {
      top: 50%;
      transform: rotate(-22.5deg);
    }

    #{$parent}__middle {
      opacity: 0;
      transform: translateX(33%);
      pointer-events: none;
    }

    #{$parent}__bottom {
      top: 50%;
      transform: rotate(22.5deg);
    }
  }

  @media screen and (min-width: 1280px) {
    top: 10rem;
    right: 8rem;
  }

  &__top,
  &__middle,
  &__bottom {
    position: absolute;
    width: 100%;
    height: 1px;
    background: $white;
    transition: 0.4s;
  }

  &__top {
    top: 25%;
  }
  &__middle {
    top: 50%;
  }
  &__bottom {
    top: 75%;
  }
}

.slide-menu {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateY(-10%);
  width: 100%;
  background: $bg-black;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s ease-out;
  z-index: 99;

  &.opened {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  @media screen and (min-width: 1280px) {
    width: 40%;
  }

  &__inner {
    padding: 0 2.5rem;

    @media screen and (min-width: 1280px) {
      padding: 0 8rem;
    }
  }

  &__logo-link {
    margin: 2.5rem 0;
    display: block;
    width: 70px;
    height: 120px;
    text-decoration: none;
    transition: 0.4s ease-out;

    &:hover {
      opacity: 0.7;
    }

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__logo-img {
    @include img-base;
    height: 100%;
    object-fit: contain;
  }

  &__ul {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @media screen and (min-width: 1280px) {
      margin-top: 20rem;
    }
  }

  &__list {
    list-style-type: none;
  }

  &__link {
    padding: 10px 0;
    display: block;
    color: $white;
    font-size: clamp(18px, 1.8rem, 30px);
    font-weight: 500;
    text-decoration: none;
    writing-mode: vertical-rl;
    position: relative;
    transition: 0.4s;

    &.line {
      padding: 10px 0 10px 10px;
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 1px;
        height: calc(100% - 20px);
        background: $light-white;
      }

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 1px;
        height: calc(100% - 20px);
        transform: scaleY(0);
        background: $white;
        transition: 0.4s;
      }

      &:hover::after {
        transform: scaleY(1);
        background: $white;
      }
    }

    &.no-focus {
      color: $light-white;
    }

    @media screen and (min-width: 1280px) {
      font-size: clamp(20px, 3.2rem, 32px);
    }
  }

  &__bottom-box {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__sns-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__sns-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
  }

  &__sns-img {
    @include img-base;
  }

  &__copyright {
    color: $white;
    font-family: $roc;
    font-size: clamp(10px, 1rem, 14px);
    letter-spacing: 0.05em;
  }
}
