@use "../global" as *;

#store {
  .mv {
    height: 100vh;
    margin-bottom: 8rem;
    position: relative;

    @media screen and (min-width: 1280px) {
      margin-bottom: 16rem;
    }

    &__ttl {
      margin-left: 2.5rem;
      width: 19.4rem;
      position: absolute;
      top: 35%;

      @media screen and (min-width: 1280px) {
        margin-left: 40rem;
        width: 90rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__logo-img {
      @include img-base;
      @include auto-show-title-logo;
      margin-bottom: 1.6rem;

      @media screen and (min-width: 1280px) {
        margin-bottom: 2.4rem;
      }
    }

    &__ttl-ja {
      display: block;
      color: $white;
      font-size: clamp(18px, 1.8rem, 24px);
      font-weight: 400;
      letter-spacing: 0.05em;

      @media screen and (min-width: 1280px) {
        font-size: clamp(26px, 3.2rem, 32px);
      }
    }

    &__txt {
      position: absolute;
      bottom: 5.6rem;
      left: 0;
      padding: 0 2.5rem;
      font-size: clamp(14px, 1.4rem, 16px);
      line-height: 2;
      letter-spacing: 0.05em;

      @media screen and (min-width: 1280px) {
        bottom: 16rem;
        left: 62rem;
        padding: 0 16rem 0 0;
        font-size: clamp(16px, 1.8rem, 18px);
      }
    }
  }

  .contents {
    background: $bg-light-black;
    padding: 8rem 0;

    @media screen and (min-width: 1280px) {
      padding: 16rem 0;
    }

    &__inner {
      @include contents-width;
    }

    &__ul {
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      gap: 16rem;

      @media screen and (min-width: 1280px) {
        padding: 0;
        gap: 32rem;
      }
    }

    &__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      position: relative;

      &:first-of-type::before {
        content: "";
        position: absolute;
        bottom: -8rem;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background: $white;
      }

      @media screen and (min-width: 1280px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0;

        &:nth-of-type(2n) {
          flex-direction: row-reverse;
        }

        &:first-of-type::before {
          bottom: -16rem;
        }
      }
    }

    &__img-wrap {
      width: 28.5rem;
      height: 28.5rem;

      @media screen and (min-width: 1280px) {
        width: 69rem;
        height: 69rem;
      }
    }

    &__img {
      @include img-base;
      height: 100%;
    }

    &__txt-wrap {
      width: 100%;

      @media screen and (min-width: 1280px) {
        width: 45%;
      }
    }

    &__name {
      margin-bottom: 1.6rem;
      font-size: clamp(20px, 2rem, 26px);
      font-weight: 500;
      letter-spacing: 0.05em;

      @media screen and (min-width: 1280px) {
        margin-bottom: 2.4rem;
        font-size: clamp(28px, 3.8rem, 38px);
      }
    }

    &__note {
      margin-bottom: 1.6rem;
      font-size: clamp(14px, 1.4rem, 18px);

      @media screen and (min-width: 1280px) {
        margin-bottom: 2.4rem;
        font-size: clamp(18px, 2rem, 20px);
      }
    }

    &__price {
      margin-bottom: 2.4rem;
      font-family: $roc;
      font-size: clamp(26px, 2.6rem, 28px);

      span {
        font-family: $zen-gothic;
        font-size: clamp(12px, 1.2rem, 14px);
      }

      @media screen and (min-width: 1280px) {
        margin-bottom: 4.8rem;
        font-size: clamp(28px, 3.2rem, 32px);

        span {
          font-size: clamp(14px, 1.6rem, 16px);
        }
      }
    }

    &__description {
      margin-bottom: 2.4rem;
      font-size: clamp(14px, 1.4rem, 18px);
      line-height: 2;
      letter-spacing: 0.05em;

      @media screen and (min-width: 1280px) {
        margin-bottom: 10rem;
        font-size: clamp(18px, 2rem, 20px);
      }
    }

    &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;

      &:hover {
        .contents__link-line::before {
          transform: scaleX(1);
        }

        .contents__link-btn::before {
          transform: translate(-25%, -75%);
        }
      }
    }

    &__link-line {
      width: 60%;
      height: 1px;
      background: $light-white;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white;
        transition: 0.4s;
        transform-origin: left;
        transform: scaleX(0.25);
      }
    }

    &__link-btn {
      width: 30%;
      height: 50px;
      border-radius: 50px;
      border: 1px solid $light-white;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background: url(../images/store/arrow.svg) center center / cover;
        transition: 0.4s;
      }

      @media screen and (min-width: 1280px) {
        height: 60px;
      }
    }
  }
}
